.not-found {
  max-width: 1280px;
  min-width: 320px;
  box-sizing: border-box;
  padding: 246px 0 60px 0;
  margin: 0 auto;
}

.not-found__title {
  max-width: 400px;
  margin: 0 auto;
  font-size: 140px;
  line-height: 169px;
  font-weight: 400;
  text-align: center;
}

.not-found__subtitle {
  max-width: 400px;
  margin: 5px auto 0 auto;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-align: center;
}

.not-found__back-btn {
  display: block;
  margin: 184px auto 0 auto;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  transition: opacity .2s ease-in-out;
}

.not-found__back-btn:hover {
  opacity: .7;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .not-found {
    padding: 408px 0 222px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .not-found {
    padding: 329px 0 30px 0;
  }

  .not-found__title {
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__subtitle {
    font-size: 12px;
    line-height: 15px;
    margin: 10px auto 0 auto;
  }

  .not-found__back-btn {
    font-size: 12px;
    line-height: 15px;
    margin: 284px auto 0 auto;
  }
}